.QuoteBox {
    width: 80%;
    height: 30%;
    display:inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius:10px;
    border: 2px black dotted;
}

.QuoteBox-quote {
    margin:10px;

}

.QuoteBox-author {
    text-align: right;
    margin-right: 10px;

}
.fadeIn{
    opacity: 0;
    animation: slidein 1s ease-out forwards;
}

@keyframes slidein {
    0% {
       opacity:0;
       transform: translateY(-25px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.QuoteBox-button {
    margin: 20px;
    height: 35px;
    width: 100px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Ubuntu', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}